name: Release Build

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-release:
    runs-on: ubuntu-latest
    permissions:
      contents: write # GitHub Releaseを作成するためにwrite権限を追加

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Setup Google Services
        run: echo "${{ secrets.GOOGLE_SERVICES_JSON }}" > app/google-services.json

      - name: Decode Signing Key
        run: echo "${{ secrets.SIGNING_KEY }}" | base64 --decode > release.keystore

      - name: Build Release AAB
        env:
          # MANUAL_SETUP.mdで案内しているシークレット名に修正
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
          KEY_STORE_PASSWORD: ${{ secrets.KEY_STORE_PASSWORD }}
        run: ./gradlew bundleRelease

      - name: (Optional) Upload to Google Play Store
        run: echo "TODO: Upload app/build/outputs/bundle/release/app-release.aab to Google Play Store"
