name: Review Distribution

on:
  pull_request:
    branches:
      - master

jobs:
  build-and-distribute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/libs.versions.toml') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Setup Google Services (from Base64)
        run: echo "${{ secrets.GOOGLE_SERVICES_JSON }}" | base64 --decode > app/google-services.json

      - name: Clean build cache
        run: ./gradlew clean

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Distribute debug APK to Firebase App Distribution
        run: firebase appdistribution:distribute app/build/outputs/apk/debug/app-debug.apk --app "${{ secrets.FIREBASE_APP_ID }}" --token "${{ secrets.FIREBASE_TOKEN }}" --groups "testers"
