name: Review Distribution

on:
  pull_request:
    branches:
      - master

jobs:
  build-and-distribute:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew

      - name: Setup Google Services
        run: echo "${{ secrets.GOOGLE_SERVICES_JSON }}" > app/google-services.json

      # Debugビルドでは署名は不要なため、関連ステップを削除します。

      - name: Build debug APK
        run: ./gradlew assembleDebug

      - name: Distribute debug APK to Firebase App Distribution
        run: |
          npx --yes firebase-tools app:distribute app/build/outputs/apk/debug/app-debug.apk \
            --app "${{ secrets.FIREBASE_APP_ID }}" \
            --token "${{ secrets.FIREBASE_TOKEN }}" \
            --groups "testers"
